<head>
    <title>Orders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            padding: 20px;
        }

        .table th,
        .table td {
            vertical-align: middle;
            text-align: center;
        }

        .table .btn {
            margin-right: 5px;
        }

        .table ul {
            padding-left: 0;
            list-style-type: none;
        }

        .confirm-delete {
            color: red;
        }

        .table-responsive {
            margin-top: -39px;
        }
    </style>
</head>
{{>adminheader}}

<body>
    <h1>Orders</h1>

    <div class="container">
        {{#if orders.length}}
        <div class="table-responsive">
            <table id="orderTable" class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Order ID</th>
                        <th>Customer</th>
                        <th>Items</th>
                        <th>Total Price</th>
                        <th>Status</th>
                        <th>Payment Method</th>
                        <th>Order Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <td>{{this.orderId}}</td>
                        <td>{{this.address.username}} <br> {{this.address.email}}</td>
                        <td>
                            <ul>
                                {{#each this.orderItems}}
                                <li>
                                    &bull; {{this.product.productName}}
                                </li>
                                {{/each}}
                            </ul>
                        </td>
                        <td>₹{{this.finalAmount}}</td>

                        <td class="{{statusClass this.status}}">{{this.status}}</td>

                        <td>{{this.paymentMethod}}</td>
                        <td>{{formatDate this.createdOn "YYYY-MM-DD"}}</td>
                        <td>
                            <a href="/admin/editOrder/{{this._id}}" class="btn btn-primary btn-sm">Details</a>

                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{else}}
        <p class="text-center text-muted">No orders found.</p>
        {{/if}}
    </div>
</body>

<script type="text/javascript">
    $('#orderTable').DataTable({
        searching: true,
        paging: true,
        lengthChange: false,
        pageLength: 5,
        order: [[6, 'desc']] // Sort by the 7th column (Order Date) in descending order
    });

</script>